@import "bourbon/bourbon";
@import "partials/base";

$link-color: $black;
$accent-color: $purple;

*, 
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0; 
}
html,
body {
   	margin: 0;
   	padding: 0;
   	height: 100%;
  	min-height: 100%;
    position: relative;
    background-color: $white;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: $base-font-weight

}

.logo-container {
	height:$base-line-height*3;
	background-color: $accent-color;
}
.footer-helper {
	padding-bottom: $footer-height;
}

.content-container {
	max-width: 80%;
}

footer {
	line-height: $base-line-height;
	padding: $padding-margin-value 0;
	background-color: $grey;
	position: absolute;
   	bottom: 0;
   	width: 100%;
   	z-index: 0;
}

.footer-copy {
	margin: $padding-margin-value auto;
	text-align: center;
	font-size: 0.8*$base-font-size;
}
.footer-nav {
	margin-top: $padding-margin-value;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	ul {
	    width: auto;
	    display: inline-block;
	    margin-left: 0;
	    margin-right: $base-line-height*4;
	}
}

.footer-nav-col {
	flex-direction: column;
	li {
		padding: 0;
		flex-grow: 1;
		display: block;
		display: flex;
		min-width: 6em;
		a {
			text-decoration: underline;
		}
	}
}
section {
	background-color: $grey; 
}
nav {
	background-color: $grey;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	ul {
		padding: 0;
		list-style: none;
		width: 80%;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		li {
			flex-grow: 1;
			max-width: 10em;
			min-width: 5em;
			text-align: center;
			display: inline-block;
			padding: $padding-margin-value 0;
			margin: 0;
			text-align: center;
			font-size: $base-font-size;
			a {
				text-decoration: none;
				float: left;
				color: $link-color;
				&:visited {
					color: $link-color;
				}
			}
		}
	}
}



